<h1><%= @product.name %></h1>

<p>
  <%= link_to "Edit info for - #{@product.name}", edit_product_path(@product) %>
</p>

<p>
  <%= link_to "Delete - #{@product.name}", product_path(@product),
                                      :data => {:confirm => "Are you certain?",
                                      :method => "delete"} %>
</p>
<div class="form-group">
  <% if @product.reviews.any? %>
    <h4>Reviews for <%= @product.name %>:</h4>
    <ul>
      <% @product.reviews.each do |review| %>
        <li><%= review.content %>, <%= review.author %> - <%= review.rating %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<p>
  <%= link_to "Review", new_product_review_path(@product) %>
</p>

<p>
  <%= link_to "Return to products", products_path %>
</p>
